﻿
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Students Details</h4>
    <div class="card">
        <div class="card-header">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Link</th>

                    </tr>
                    <tr>
                        <th>Line Chart</th>
                        <th><a href="~/StudentManagement/Line">Click to View Line Chart</a></th>
                    </tr>
                    <tr>
                        <th>Bar Chart</th>
                        <th><a href="~/StudentManagement/Bar">Click to View Bar Chart</a></th>
                    </tr>
               
                </thead>

            </table>
        </div>
    </div>
</div>
