
@{
}


<form method="post" action="login">
    <div>
        <div> <label>Email</label> <input type="text" name="Email" /></div>

        <div>
            <div> <label>Password</label> <input type="password" name="Password" /></div>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </div>
</form>
