
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@{

    Employee employee = (Employee)ViewData["singleEmployee"];
    <p>@employee.Id</p>
    <p>@employee.Name</p>
    <p>@employee.Role</p>
}
