
@{
    ViewData["Title"] = "Insert";
}

<h2>Insert</h2>


<form method="post" action="Insert">
    <div>
        <div class="mb-3">
            <label for="employee  name" class="form-label"> Name</label>
            <input type="text" class="form-control" name="Name" id="Name">

        </div>

        <div class="mb-3">
            <label for="employee role" class="form-label">Role</label>
            <input type="text" class="form-control" name="Role" id="Role" />

        </div>
        

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            @* <input type="button" action="submit" value="Submit"/> *@
        </div>
    </div>
</form>




