@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form method="post" action="/StateMgmt/SetSession">
    <label for="userName">Enter your name:</label>
    <input type="text" id="userName" name="userName" />
    <button type="submit">Set Session</button>
</form>

<a href="/StateMgmt/GetSession">Get Session Data</a>

<hr />
<a href="/StateMgmt/About">About </a>

<hr />

<form method="get" action="/StateMgmt/SetQueryString">
    <label for="qsUserName">Enter your name (Query String):</label>
    <input type="text" id="qsUserName" name="userName" />
    <button type="submit">Set Query String</button>
</form>

<hr />

<form method="get" action="/StateMgmt/SetCookie">
    <label for="cookieUserName">Enter your name (Cookie):</label>
    <input type="text" id="cookieUserName" name="userName" />
    <button type="submit">Set Cookie</button>
</form>

<a href="/StateMgmt/GetCookie">Get Cookie Data</a>
