@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Product List</h2>

@{
    List<Product> products = (List<Product>)ViewData["products"];
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a href="/products/details/@product.Id">Details</a> |
                    <a href="/products/remove/@product.Id">Remove</a>  |
                    <a href="/products/update/@product.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
